.book {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book_column {
  &:first-child {
    display: flex;
  }
}

button {
  width: 60px;
}

@media screen and (max-width: 576px){
  button {
    width: 58px;
  }

}